.card-login{
    position: relative;
    background-color: blue !important;
}

html {
  scroll-behavior: smooth;
}

.pick-galery{
    position: relative;
}

.pick-galery::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: -50px;
    transform: rotate(45deg);
    border: 3px solid #999;
}
.pick-galery::after{
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    top: -25px;
    left: calc(50% - 10px);
    border-radius: 50%;
    transform: rotate(45deg);
    border: 3px solid #999;
    background-color:  #f7fcffff;
    box-shadow: 4px 3px 5px #333;
}

body{
    background-color: #f7fcffff;
}

.card-login::before{
    content: "";
    position: absolute;
    width: 110%;
    top: 5%;
    border-radius: 4px;
    left: -5%;
    height: 90%;
    background-color: #f0f4ffff;
    z-index: 0;
    box-shadow: 1px 1.5px 10px #777;
}